node_modules/
dist/
.env
db/
backend/config/jwt/private.pem
!backend/.env

var/*
!var/phpstan/
var/phpstan/*
!var/phpstan/.gitkeep

.phpstan.neon

# Exclude generated Solekammer PDFs
Betriebsdokumentation/Solekammer/*.pdf
