{% extends 'base.html.twig' %}

{% block title %}HorseScale Admin Bookings{% endblock %}

{% block body %}
<h1>Manage Bookings</h1>
<p>This is a placeholder for the admin booking management interface.</p>
{% endblock %}
