<p>Hello {{ booking.customerName }},</p>
<p>The weighing of {{ booking.horseName }} on {{ booking.bookingDateTime|date('Y-m-d H:i') }} is complete.</p>
<p>The horse's weight is {{ booking.actualWeight }} kg.</p>
