<p>
    {{ 'appointment.confirmation.body'|trans({
        '%userName%': userName,
        '%horseName%': horseName,
        '%serviceType%': serviceType,
        '%date%': date,
        '%time%': time,
        '%providerName%': providerName,
        '%stableName%': stableName
    }) }}
</p>
